div
  each image in imagesData 
    .container
      .content
        img(src='/images/' + image.name + '.jpg', )
        .content-data
          p=image.name
          P Download: #{image.views} 
          a(href="/download/" + image.name)
            img#iconImgDownload(src="/icons/imgDownload.svg" rel="icon"  alt="Icono de descarga")