html
    head    
      title=title
      link(rel="stylesheet", href="/styles/main.css")
    body
      h1=title
      block content
      footer#id.clases(aling='center')
        block footer
          p(aling='center') 2019