:root{
  --cyan-darken-4: #006064;
  --cyan-lighten-2: #4dd0e1;
}

body{
  background-color: cyan;
}

h1{
  color: darkgreen;
  text-align: center;
}

.container{
  display: inline-flex;
  font-size: 20px;
  margin: 10px;
  background-color: var(--cyan-darken-4);
}

.content{
  margin: 10px;
  display: block;
}

img{
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
}

a{
  font-size: 20px;
  text-decoration: none;
}

#iconImgDownload{
  width: 30px;
  height: 30px;
}

.content-data{
  color: var(--cyan-lighten-2);
}